<!DOCTYPE html>
<html>
<head>
    <title>Biodata</title>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="biodata">

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/biodata/">Biodata</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/kontak/">Kontak</a></li>
    </ul>
</nav>

<div class="container">
    <div class="card">
        <h1>Biodata</h1>

        <img src="{% static 'images/foto cica.png' %}" class="foto">

        <p>Nama     : Freeska Bachtiar</p>
        <p>TTL      : Rumah, 13 Oktober 2009</p>
        <p>Alamat   : Kost saya</p>
        <p>Hobi     : Makan baso</p>
        <p>Kelebihan: Mampu menjadi pendengar yang baik</p>
    </div>
</div>

</body>
</html>