<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="blog">

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/biodata/">Biodata</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/kontak/">Kontak</a></li>
    </ul>
</nav>

<div class="blog-container">

    <div class="blog-card">
        <h2>Pengalaman Belajar Django</h2>
        <p>zuzurly asik belajar django, tapi butuh kesabaran yang lumayan ya buat kaum kaum yang sabarnya setipis tisu kaya sayaa😊</p>
    </div>

    <div class="blog-card">
        <h2>Saya Bingung Tapi Ceritanya Ini Blog Kedua</h2>
        <p>Nulis judul blog aja saya bingung, apalagi harus nulis isi blog nya, tapi gapapa lah ya, yang penting ada tulisan isi nya</p>
    </div>
</div>

</body>
</html>