<!DOCTYPE html>
<html>
<head>
    <title>Kontak</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="kontak">

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/biodata/">Biodata</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/kontak/">Kontak</a></li>
    </ul>
</nav>

<div class="container">
    <div class="card">
        <h1>Kontak</h1>

        <div class="contact-item">
            💕 <a href="mailto:friezchasalsabila@gmail.com">Email</a>
        </div>

        <div class="contact-item">
            💕 <a href="https://wa.me/6285640949896">WhatsApp</a>
        </div>

        <div class="contact-item">
            💕 <a href="https://www.instagram.com/frzch.abchtr_?igsh=MWwycmh3cm94dDhxdA%3D%3D&utm_source=qr">Instagram</a>
        </div>

        <div class="contact-item">
            💕 <a href="https://www.tiktok.com/@freeska_?_r=1&_t=ZS-95MzEwG2E4q">Tiktok</a>
        </div>

    </div>


</body>
</html>
